[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/AnsiEsc.vim"]
	path = vim/bundle/AnsiEsc.vim
	url = git://github.com/sjl/AnsiEsc.vim.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
