[submodule "vim/bundle/ack"]
	path = vim/bundle/ack.git
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/AnsiEsc.vim"]
	path = vim/bundle/AnsiEsc.git
	url = git://github.com/sjl/AnsiEsc.vim.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary.git
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp.git
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5.git
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object.git
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript.git
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/linediff"]
	path = vim/bundle/linediff.git
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode.git
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat.git
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/salt"]
	path = vim/bundle/salt.git
	url = git://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup.git
	url = git://github.com/tristen/vim-sparkup.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab.git
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround.git
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic.git
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tslime"]
	path = vim/bundle/tslime.git
	url = git://github.com/kikijump/tslime.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring.git
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai.git
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired.git
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist.git
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses.git
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/kernel-coding-style"]
	path = vim/bundle/kernel-coding-style.git
	url = git@github.com:bhilburn/kernel-coding-style.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular.git
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/haskell-html-syntax"]
	path = vim/bundle/haskell-html-syntax.git
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim.git
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc.git
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs.git
	url = https://github.com/dag/vim2hs.git
[submodule "vim/bundle/vimproc.git"]
	path = vim/bundle/vimproc.git
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/haskellmode-vim.git"]
	path = vim/bundle/haskellmode-vim.git
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/tagbar.git"]
	path = vim/bundle/tagbar.git
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/gundo.git"]
	path = vim/bundle/gundo.git
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/slimv.git"]
	path = vim/bundle/slimv.git
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "vim/bundle/splice.git"]
	path = vim/bundle/splice.git
	url = https://github.com/sjl/splice.vim.git
[submodule "vim/bundle/strftimedammit.git"]
	path = vim/bundle/strftimedammit.git
	url = https://github.com/sjl/strftimedammit.vim.git
[submodule "vim/bundle/clam.git"]
	path = vim/bundle/clam.git
	url = https://github.com/sjl/clam.vim.git
[submodule "vim/bundle/badwolf.git"]
	path = vim/bundle/badwolf.git
	url = https://github.com/sjl/badwolf.git
[submodule "vim/bundle/vim-airline.git"]
	path = vim/bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "tools/friendly-find.git"]
	path = tools/friendly-find.git
	url = https://github.com/sjl/friendly-find.git
[submodule "vim/bundle/tlib_vim.git"]
	path = vim/bundle/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils.git"]
	path = vim/bundle/vim-addon-mw-utils.git
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate.git
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets.git"]
	path = vim/bundle/vim-snippets.git
	url = https://github.com/honza/vim-snippets.git
